.portfolio {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding-top: 12vh;
}
.portfolio .heading {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.design-ports {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 3rem;
    column-gap: 2rem;
    padding: 2rem;
}

@media (max-width: 960px) {
    .design-ports {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 600px) {
    .design-ports{
        grid-template-columns: auto;
    }
}