.about-container {
    background-color: rgba(0, 0, 0, 0.99);
    background-image: url(/face-bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 1rem;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 25%;
    margin: 0px 5rem;
}
.head h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.bottom {
    margin: 0px 5rem;
    text-align: center;
}
.bottom p {
    font-family: 'Courier New', Courier, monospace;
}
.address {
    text-decoration: overline rgb(20, 20, 246) 0.5px;
}
.bottom .logo {
    color: rgb(20, 20, 246);
}
@media (max-width: 960px) {
    .about-container {
        align-items: center;
        background-position: center;
    }
    .about {
        width: 80%;
        text-align: center;
        margin: 0px;
    }
}